 <div style="background-color:Lightblue">
     <p>
       &nbsp;
       <%= link_to 'Photos', :controller => :photos %>
       &nbsp;
       <%= link_to 'Categories', :controller => :categories %>
       &nbsp;
       <%= link_to 'Slideshows', :controller => :slideshows %>
     </p>
     </div>

